.App {
  height: 100%;
  color: #555;
  font-size: 13px;
}

.map {
  width: 70%;
  height: 100%;
  float: left;
  position: relative;
}
.maph {
  height: 100%;
}
.mapc {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  /* top: 50%;
  left: 50%; */
  text-align: center;
  pointer-events: none;
}

.tools {
  width: 30%;
  float: left;
  height: 100%;
  padding: 10px;
}
.tin {
  box-shadow: 0 2px 10px rgba(0,0,0,.3);
  border-radius: 4px;
}
.ting {
  padding: 10px;
  margin-bottom: 10px;
  max-height: 283px;
  overflow: auto;
}
.ting button.sd {
  float: right;
  background: transparent;
  border: none;
  color: #ccc;
  margin: 0;
}
.ting button {
  border: 1px solid #ccc;
  padding: 2px 5px;
  border-radius: 4px;
  margin-bottom: 5px;
  margin-right: 5px;
}
.ting button.active {
  background: #ccc;
}
.ting button:active {
  background: #efefef;
}
.tinf {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 4px 4px 0 0;
  font-weight: bold;
}
.grn .tinf {
  background: #2ecc71;
  color: #fff;
}
.pur .tinf {
  background: #9b59b6;
  color: #fff;
}
.blu .tinf {
  background: #3498db;
  color: #fff;
}
.ttx {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0,0,0,.9);
  padding: 10px;
  /* font-size: 12px; */
  color: #fff;
  border-radius: 4px;
}