.App {
  height: 100%;
  color: #555;
  font-size: 13px;
}

@keyframes spin {
  from {transform: rotate(0)}
  to {transform: rotate(180deg)}
}

.ld-ring div {
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-color: #555 transparent #555 transparent;
  border-style: solid;
  animation: 1s spin infinite;
}

.log-ov {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.log-bx {
  padding: 25px;
  border: 1px solid #ccc;
  width: 300px;
}
.log-ov .grp {
  margin-bottom: 10px;
}
.log-ov input,
.log-ov button {
  width: 100%;
  border: none;
  background: #ccc;
  color: #555;
  padding: 12px;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
  font-weight: bold;
}
.log-ov input {
  background: #fff;
  border: 2px solid #ccc;
}

.map {
  height: 100%;
}

.mapl,
.mapr {
  float: left;
  height: 100%;
}
.mapl {
  width: 100%
}
.mapr {
  /* width: 50%; */
}
.maph {
  height: 100%;
}